<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/style/header.css">
  </head>

  <body>
    <div class="main-wrapper">
      <%- include('includes/navbar.ejs') %>
  
      <div class="content-wrapper">
        <%- include('includes/header-right.ejs') %>

        <section class="main-content-wrapper">

          <div class="successful">
            SUCCESSFUL
          </div>
        </section>
      </div>
    </div>

  <%- include('includes/end.ejs') %>
